--
-- PostgreSQL database dump
--

\restrict 2ryWdMyIYlRNfi5zLeHyCiZ2U8wlZo4eHibTfse7LudCFYdtMFIDHE42ekPCM7q

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Album; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Album" (
    id text NOT NULL,
    title text NOT NULL,
    year integer NOT NULL,
    "coverUrl" text,
    description text,
    "artistId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Album" OWNER TO admin;

--
-- Name: Artist; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Artist" (
    id text NOT NULL,
    name text NOT NULL,
    bio text,
    "imageUrl" text,
    "bannerUrl" text,
    gallery text,
    certified boolean DEFAULT false NOT NULL,
    "birthDate" timestamp(3) without time zone,
    country text,
    gender text,
    "userId" text,
    "labelId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Artist" OWNER TO admin;

--
-- Name: ArtistGroup; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ArtistGroup" (
    id text NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ArtistGroup" OWNER TO admin;

--
-- Name: Genre; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Genre" (
    id text NOT NULL,
    name text NOT NULL,
    "createdById" text,
    "isSystem" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Genre" OWNER TO admin;

--
-- Name: Permission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Permission" (
    id text NOT NULL,
    action text NOT NULL,
    resource text NOT NULL
);


ALTER TABLE public."Permission" OWNER TO admin;

--
-- Name: Playlist; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Playlist" (
    id text NOT NULL,
    name text NOT NULL,
    "coverUrl" text,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Playlist" OWNER TO admin;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Role" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Role" OWNER TO admin;

--
-- Name: Song; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Song" (
    id text NOT NULL,
    title text NOT NULL,
    duration integer NOT NULL,
    "coverUrl" text,
    "isSingle" boolean DEFAULT false NOT NULL,
    "audioUrl" text NOT NULL,
    "albumId" text,
    "genreId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Song" OWNER TO admin;

--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    "roleId" text NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: _ArtistGroupMembers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_ArtistGroupMembers" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_ArtistGroupMembers" OWNER TO admin;

--
-- Name: _PermissionToRole; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_PermissionToRole" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_PermissionToRole" OWNER TO admin;

--
-- Name: _PlaylistSongs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_PlaylistSongs" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_PlaylistSongs" OWNER TO admin;

--
-- Name: _SongArtists; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_SongArtists" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_SongArtists" OWNER TO admin;

--
-- Name: _SongGroups; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_SongGroups" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_SongGroups" OWNER TO admin;

--
-- Name: _UserFavorites; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_UserFavorites" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_UserFavorites" OWNER TO admin;

--
-- Name: _UserFollowsArtist; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."_UserFollowsArtist" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_UserFollowsArtist" OWNER TO admin;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Data for Name: Album; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Artist; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: ArtistGroup; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."ArtistGroup" (id, name, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Genre; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: Playlist; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Playlist" (id, name, "coverUrl", "userId", "createdAt", "updatedAt") FROM stdin;
2a285fa4-c1de-4ea1-8a67-f69d60ef8f25	COOL	\N	4c176107-3ec5-42a0-88d1-312304e14d70	2026-02-28 14:04:46.534	2026-02-28 14:04:46.534
\.


--
-- Data for Name: Role; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."Role" (id, name) FROM stdin;
cadb5fdb-5cc7-408a-87ec-498c15244488	ADMIN
76f11b21-fcfe-490c-b43a-ad98e3f6818b	CREATOR
f4316ee0-879f-4cef-833a-fed5bc8fa92d	LABEL
5733bdaf-61a6-4165-a3a0-ec927b85489a	USER
\.


--
-- Data for Name: Song; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."User" (id, email, password, name, "roleId", "resetToken", "resetTokenExpiry", "createdAt", "updatedAt") FROM stdin;
4c176107-3ec5-42a0-88d1-312304e14d70	bassahakjm@gmail.com	$2b$10$VUjdESLiRQTQ6n771GgS6OGOQPMRO6Xc.o8yi2SWvPSYynWlJTQF.	Bassahak Jean Marc	5733bdaf-61a6-4165-a3a0-ec927b85489a	\N	\N	2026-02-28 14:03:45.138	2026-02-28 14:47:45.891
\.


--
-- Data for Name: _ArtistGroupMembers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_ArtistGroupMembers" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _PermissionToRole; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: _PlaylistSongs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_PlaylistSongs" ("A", "B") FROM stdin;
2a285fa4-c1de-4ea1-8a67-f69d60ef8f25	75814dde-c901-4ef4-afe1-81fdd5eed244
\.


--
-- Data for Name: _SongArtists; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_SongArtists" ("A", "B") FROM stdin;
a43fc7d5-0561-4783-9ab0-17a39fc13cad	75814dde-c901-4ef4-afe1-81fdd5eed244
a43fc7d5-0561-4783-9ab0-17a39fc13cad	5251a38d-aa55-409d-834a-c1efa0bbb827
a43fc7d5-0561-4783-9ab0-17a39fc13cad	e5aec22d-9ed5-43df-aa9d-f836b8c36fbd
a43fc7d5-0561-4783-9ab0-17a39fc13cad	08ae85e3-aa2b-4483-991d-a34da7bdb5f0
a43fc7d5-0561-4783-9ab0-17a39fc13cad	a2a4ee1b-8ca1-4741-8a2b-a09fbac54991
a43fc7d5-0561-4783-9ab0-17a39fc13cad	bd507c7a-3505-47a1-be85-bb385cdef2b0
\.


--
-- Data for Name: _SongGroups; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_SongGroups" ("A", "B") FROM stdin;
\.


--
-- Data for Name: _UserFavorites; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_UserFavorites" ("A", "B") FROM stdin;
75814dde-c901-4ef4-afe1-81fdd5eed244	4c176107-3ec5-42a0-88d1-312304e14d70
e5aec22d-9ed5-43df-aa9d-f836b8c36fbd	4c176107-3ec5-42a0-88d1-312304e14d70
08ae85e3-aa2b-4483-991d-a34da7bdb5f0	4c176107-3ec5-42a0-88d1-312304e14d70
a2a4ee1b-8ca1-4741-8a2b-a09fbac54991	4c176107-3ec5-42a0-88d1-312304e14d70
5251a38d-aa55-409d-834a-c1efa0bbb827	4c176107-3ec5-42a0-88d1-312304e14d70
bd507c7a-3505-47a1-be85-bb385cdef2b0	4c176107-3ec5-42a0-88d1-312304e14d70
\.


--
-- Data for Name: _UserFollowsArtist; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public."_UserFollowsArtist" ("A", "B") FROM stdin;
1b681ec4-c597-4c38-949f-ef7799b755f4	4c176107-3ec5-42a0-88d1-312304e14d70
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
bd5cfc7f-a260-425d-a937-f329d3fa426f	f7c3cafd5538085dcb9b28fd5fa584c24f5368b0a1ba644770abd82560c44764	2026-02-28 08:14:38.402253+00	20260228081437_init_postgres	\N	\N	2026-02-28 08:14:37.750979+00	1
\.


--
-- Name: Album Album_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Album"
    ADD CONSTRAINT "Album_pkey" PRIMARY KEY (id);


--
-- Name: ArtistGroup ArtistGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ArtistGroup"
    ADD CONSTRAINT "ArtistGroup_pkey" PRIMARY KEY (id);


--
-- Name: Artist Artist_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Artist"
    ADD CONSTRAINT "Artist_pkey" PRIMARY KEY (id);


--
-- Name: Genre Genre_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Genre"
    ADD CONSTRAINT "Genre_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Playlist Playlist_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Playlist"
    ADD CONSTRAINT "Playlist_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Song Song_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Song"
    ADD CONSTRAINT "Song_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Artist_userId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Artist_userId_key" ON public."Artist" USING btree ("userId");


--
-- Name: Genre_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Genre_name_key" ON public."Genre" USING btree (name);


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: _ArtistGroupMembers_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_ArtistGroupMembers_AB_unique" ON public."_ArtistGroupMembers" USING btree ("A", "B");


--
-- Name: _ArtistGroupMembers_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_ArtistGroupMembers_B_index" ON public."_ArtistGroupMembers" USING btree ("B");


--
-- Name: _PermissionToRole_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_PermissionToRole_AB_unique" ON public."_PermissionToRole" USING btree ("A", "B");


--
-- Name: _PermissionToRole_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_PermissionToRole_B_index" ON public."_PermissionToRole" USING btree ("B");


--
-- Name: _PlaylistSongs_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_PlaylistSongs_AB_unique" ON public."_PlaylistSongs" USING btree ("A", "B");


--
-- Name: _PlaylistSongs_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_PlaylistSongs_B_index" ON public."_PlaylistSongs" USING btree ("B");


--
-- Name: _SongArtists_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_SongArtists_AB_unique" ON public."_SongArtists" USING btree ("A", "B");


--
-- Name: _SongArtists_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_SongArtists_B_index" ON public."_SongArtists" USING btree ("B");


--
-- Name: _SongGroups_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_SongGroups_AB_unique" ON public."_SongGroups" USING btree ("A", "B");


--
-- Name: _SongGroups_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_SongGroups_B_index" ON public."_SongGroups" USING btree ("B");


--
-- Name: _UserFavorites_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_UserFavorites_AB_unique" ON public."_UserFavorites" USING btree ("A", "B");


--
-- Name: _UserFavorites_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_UserFavorites_B_index" ON public."_UserFavorites" USING btree ("B");


--
-- Name: _UserFollowsArtist_AB_unique; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "_UserFollowsArtist_AB_unique" ON public."_UserFollowsArtist" USING btree ("A", "B");


--
-- Name: _UserFollowsArtist_B_index; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "_UserFollowsArtist_B_index" ON public."_UserFollowsArtist" USING btree ("B");


--
-- Name: Album Album_artistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Album"
    ADD CONSTRAINT "Album_artistId_fkey" FOREIGN KEY ("artistId") REFERENCES public."Artist"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Artist Artist_labelId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Artist"
    ADD CONSTRAINT "Artist_labelId_fkey" FOREIGN KEY ("labelId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Artist Artist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Artist"
    ADD CONSTRAINT "Artist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Genre Genre_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Genre"
    ADD CONSTRAINT "Genre_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Playlist Playlist_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Playlist"
    ADD CONSTRAINT "Playlist_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Song Song_albumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Song"
    ADD CONSTRAINT "Song_albumId_fkey" FOREIGN KEY ("albumId") REFERENCES public."Album"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Song Song_genreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Song"
    ADD CONSTRAINT "Song_genreId_fkey" FOREIGN KEY ("genreId") REFERENCES public."Genre"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: _ArtistGroupMembers _ArtistGroupMembers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_ArtistGroupMembers"
    ADD CONSTRAINT "_ArtistGroupMembers_A_fkey" FOREIGN KEY ("A") REFERENCES public."Artist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _ArtistGroupMembers _ArtistGroupMembers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_ArtistGroupMembers"
    ADD CONSTRAINT "_ArtistGroupMembers_B_fkey" FOREIGN KEY ("B") REFERENCES public."ArtistGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _PermissionToRole _PermissionToRole_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_PermissionToRole"
    ADD CONSTRAINT "_PermissionToRole_A_fkey" FOREIGN KEY ("A") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _PermissionToRole _PermissionToRole_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_PermissionToRole"
    ADD CONSTRAINT "_PermissionToRole_B_fkey" FOREIGN KEY ("B") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _PlaylistSongs _PlaylistSongs_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_PlaylistSongs"
    ADD CONSTRAINT "_PlaylistSongs_A_fkey" FOREIGN KEY ("A") REFERENCES public."Playlist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _PlaylistSongs _PlaylistSongs_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_PlaylistSongs"
    ADD CONSTRAINT "_PlaylistSongs_B_fkey" FOREIGN KEY ("B") REFERENCES public."Song"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SongArtists _SongArtists_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_SongArtists"
    ADD CONSTRAINT "_SongArtists_A_fkey" FOREIGN KEY ("A") REFERENCES public."Artist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SongArtists _SongArtists_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_SongArtists"
    ADD CONSTRAINT "_SongArtists_B_fkey" FOREIGN KEY ("B") REFERENCES public."Song"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SongGroups _SongGroups_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_SongGroups"
    ADD CONSTRAINT "_SongGroups_A_fkey" FOREIGN KEY ("A") REFERENCES public."ArtistGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _SongGroups _SongGroups_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_SongGroups"
    ADD CONSTRAINT "_SongGroups_B_fkey" FOREIGN KEY ("B") REFERENCES public."Song"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserFavorites _UserFavorites_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_UserFavorites"
    ADD CONSTRAINT "_UserFavorites_A_fkey" FOREIGN KEY ("A") REFERENCES public."Song"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserFavorites _UserFavorites_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_UserFavorites"
    ADD CONSTRAINT "_UserFavorites_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserFollowsArtist _UserFollowsArtist_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_UserFollowsArtist"
    ADD CONSTRAINT "_UserFollowsArtist_A_fkey" FOREIGN KEY ("A") REFERENCES public."Artist"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _UserFollowsArtist _UserFollowsArtist_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."_UserFollowsArtist"
    ADD CONSTRAINT "_UserFollowsArtist_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 2ryWdMyIYlRNfi5zLeHyCiZ2U8wlZo4eHibTfse7LudCFYdtMFIDHE42ekPCM7q

